<!--
 * @Author: Fox Blue
 * @Date: 2021-07-08 21:39:08
 * @LastEditTime: 2021-08-27 13:19:33
 * @Description: Forward, no stop
-->
<div class="a-header position-re">
	<a href="javascript:window.history.go(-1);"><i class="layui-icon layui-icon-left"></i></a>
	<div class="layui-inline h-span">{:lang('public_memu.related_downloads')}</div>
</div>
<div class="new-bg">
	<!--主体-->
	<div class="main padding-l-r">
		<div class="layui-container">
			<div class="layui-row white-box">
				<div class="layui-col-xs12">
					<div class="account-main mt-30">
						<ul class="account-body">
							<li class="layui-row">
								<span class="layui-col-xs6"><img src="/static/mobile/imgn/okx.png"></image>&nbsp;&nbsp;{:lang('public_memu.okx')}</span>
								<span class="layui-col-xs4">&nbsp;</span>
								<span class="layui-col-xs2 text-right"><a href="https://www.nsdkaqnn.com/download/OKXandroid.apk" class="color-blue setpass">{:lang('public_memu.download')}</a></span>
							</li>
							<li class="layui-row">
								<span class="layui-col-xs6"><img src="/static/mobile/imgn/bian.png"></image>&nbsp;&nbsp;{:lang('public_memu.bian')}</span>
								<span class="layui-col-xs4">&nbsp;</span>
								<span class="layui-col-xs2 text-right"><a href="https://www.nsdkaqnn.com/download/Binance.apk" class="color-blue setpass">{:lang('public_memu.download')}</a></span>
							</li>
							<li class="layui-row">
								<span class="layui-col-xs6"><img src="/static/mobile/imgn/gateio.png"></image>&nbsp;&nbsp;{:lang('public_memu.gateio')}</span>
								<span class="layui-col-xs4">&nbsp;</span>
								<span class="layui-col-xs2 text-right"><a href="https://www.nsdkaqnn.com/download/gateio.apk" class="color-blue setpass">{:lang('public_memu.download')}</a></span>
							</li>
							<li class="layui-row">
								<span class="layui-col-xs6"><img src="/static/mobile/imgn/imtoken.png"></image>&nbsp;&nbsp;{:lang('public_memu.imtoken')}</span>
								<span class="layui-col-xs4">&nbsp;</span>
								<span class="layui-col-xs2 text-right"><a href="https://www.nsdkaqnn.com/download/imToken.apk" class="color-blue setpass">{:lang('public_memu.download')}</a></span>
							</li>
							
							<li class="layui-row">
								<span class="layui-col-xs6"><img src="/static/mobile/imgn/google.png"></image>&nbsp;&nbsp;{:lang('public_memu.google')}</span>
								<span class="layui-col-xs4">&nbsp;</span>
								<span class="layui-col-xs2 text-right"><a href="https://www.nsdkaqnn.com/download/GoogleChrome.apk" class="color-blue setpass">{:lang('public_memu.download')}</a></span>
							</li>
							<li class="layui-row">
								<span class="layui-col-xs6"><img src="/static/mobile/imgn/edge.png"></image>&nbsp;&nbsp;{:lang('public_memu.edge')}</span>
								<span class="layui-col-xs4">&nbsp;</span>
								<span class="layui-col-xs2 text-right"><a href="https://www.nsdkaqnn.com/download/MicrosoftEdge.apk" class="color-blue setpass">{:lang('public_memu.download')}</a></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--footer-->
{include file="./block/foot_script"}
<script src="__STATIC__/mobile/js/clipboard.min.js?v={$version}"></script>